.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("./assets/pexels-valdemaras-d-784301-1670845.jpg") no-repeat center/cover;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.hero-content {
    z-index: 1;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.explore-button {
    margin-top: 25px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.cta-button {
    background-color: #ff6b6b;
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #ee5253;
    transform: translateY(-5px);
}

.footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}

.about {
    padding: 40px 20px;
    text-align: center;
    background-color: black;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ff6b6b;
}

.about p {
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.6;
}

.footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .cta-buttons {
        flex-direction: column;
        padding: 15px 20px;
        gap: 10px;
    }
}

.global-stats {
    padding: 20px 20px;
    text-align: center;
    background-color: black;
}

.global-stats h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #ff6b6b;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.stat-item {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.newsletter {
    padding: 20px 20px;
    background-color: black;
    text-align: cente
}

.newsletter h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ff6b6b;
}

.newsletter p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.newsletter-form input[type="email"] {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ff6b6b;
    border-radius: 30px;
    width: 300px;
    max-width: 100%; 
    outline: none;
    transition: all 0.3s ease;
}

.newsletter-form input[type="email"]:focus {
    border-color: #ee5253;
    box-shadow: 0 0 8px rgba(238, 82, 83, 0.5);
}

.newsletter-form input[type="email"]::placeholder {
    color: #aaa;
    font-style: italic;
}

.newsletter-form .cta-button {
    background-color: black;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.newsletter-form .cta-button:hover {
    background-color: #ee5253;
    transform: translateY(-3px);
}

.faq {
    padding: 60px 20px;
    background-color: black;
}

.newsletter {
    padding: 20px 20px;
    background-color: black;
}

.donation {
    padding: 40px 20px;
    background-color: black;
}

.sub h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ff6b6b;
}

.stat-item h3 {
    font-size: 2rem;
    color: #ff6b6b;
    margin-bottom: 10px;
}

.stat-item p {
    font-size: 1re
}

.interactive-map {
    padding: 40px 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
  
.interactive-map h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ff6b6b;
}

.interactive-map p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
}

.map-container {
    max-width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.map-container iframe {
    width: 80%;
    height: 100%;
    border: none;
}
  